/* Custom navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* arrow color */
  background: rgba(0, 0, 0, 0.6); /* semi-transparent bg */
  padding: 15px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #fc052e; /* highlight on hover */
  transform: scale(1.1);
}
