@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
}

.containers {
  width: 90%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge{background-color:#ff5252;}

                                                                                                                                                               
